<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
    <title>삭제 확인</title>
</head>
<body>
<div class="container text-center align-content-center ">
    <div class="row">
        <h4 class="mb-3 text-center text-black-50">정말 삭제하시겠습니까?</h4>
        <div class="col">
            <button class="w-100 btn btn-lg btn-danger"
                    th:onclick="|location.href='@{/basic/items/{itemId}/delete(itemId=${item.id})}'|"
                    type="button">삭제하기</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/basic/items/{itemId}(itemId=${item.id})}'|"
                    type="button">뒤로가기</button>
        </div>
    </div>
</div>
</body>
</html>